@{
    ViewBag.Title = "How to Contact me";
}
<h2>@ViewBag.Title</h2>

<h3>
    If you'd love to give any feedback or thanks send a message using the email below.
</h3>

    <h5>Email me at <a href="mailto:@ViewBag.Message">@ViewBag.Message</a></h5>
